/* Cart.css */
.shopping-cart {
    background-color: var(--accent-color);
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 30px;
}

.cart-title {
    font-size: 2.5rem;
    color: var(--primary-color);
    font-family: var(--heading-font);
    margin-bottom: 30px;
    text-align: center;
}

.empty-cart-message {
    font-size: 1.5rem;
    color: var(--text-color);
    text-align: center;
}

.cart-header h4, .cart-total h3 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
    text-align: center;
}

.checkout-button {
    background-color: var(--secondary-color);
    border: none;
    font-size: 1.5rem;
    padding: 15px 40px;
    border-radius: 30px;
    font-family: var(--heading-font);
    margin: 0 auto;
    display: block;
    width: 50%;
    color: var(--accent-color);
}

.checkout-button:hover {
    background-color: #a88360;
    border-color: #a88360;
}

/* CartItem.css */
.cart-item {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.item-info {
    display: flex;
    align-items: center;
}

.item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.item-name {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-family: var(--heading-font);
}

.item-price, .item-total {
    font-size: 1.5rem;
    color: var(--secondary-color);
    font-family: var(--heading-font);
    text-align: center;
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.quantity-button {
    width: 40px;
    height: 40px;
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 5px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.quantity-button:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
}

.quantity-button:active {
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
    color: var(--text-color);
}

.link{
    text-decoration: none;
}