.Itms .card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Itms .card {
    position: relative;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Itms .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.Itms .card-icons {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1;
}

.Itms .favorite-button,
.Itms .cart-button {
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid var(--secondary-color); 
    color: var(--primary-color);
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 1.2rem;
}

.Itms .favorite-button:hover,
.Itms .cart-button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.Itms .card-body {
    padding: 20px;
    text-align: center;
    background: var(--accent-color);
}

.Itms .card-title {
    font-size: 1.5rem; 
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.Itms .card-text {
    color: var(--text-color);
    margin-bottom: 10px;
}

.Itms .card-text.text-danger {
    color: var(--secondary-color);
}

.Itms .badge {
    display: inline-block;
    padding: 0.5em 0.75em;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: center;
    border-radius: 0.5rem;
    background-color: #d4af37;
    color: white;
    margin-top: 10px;
}
