.scroll-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.scroll-container {
    overflow-x: hidden;
    white-space: nowrap;
    margin: 0 10px;
    width: 100%;
}

.image-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
}

.image-container {
    display: inline-block;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 1;
    position: relative;
    transform: scale(1);
    margin: 0 10px;
}

.product-image {
    cursor: pointer;
    max-width: 150px;
}

.main-product-image {
    max-width: 100%;
    height: auto;
}

.product-detail-container {
    padding: 20px;
    height: fit-content;
}

.description-container h3 {
    margin-right: 10px;
}
