.show-order-details-container {
    display: flex;
    flex-direction: row;
    background-color: var(--accent-color);
    padding: 20px;
}

.order-details-content {
    flex: 1;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: 250px; /* Adjust based on sidebar width */
}

.order-details-content h1 {
    font-family: var(--heading-font);
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.order-detail {
    margin-bottom: 20px;
    font-family: var(--body-font);
    color: var(--text-color);
}

.order-detail strong {
    color: var(--primary-color);
}

.order-details-content .back-button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto 0;
}

.order-details-content .back-button:hover {
    background-color: #a88360;
}

.order-details-content hr {
    border-top: 1px solid var(--primary-color);
    margin: 15px 0;
}
