* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  :root {
    --primary-color: #000;
    --secondary-color: #ffa500;
    --input-bg-color: #333;
    --input-text-color: #fff;
    --button-bg-color: #ffa500;
    --button-text-color: #000;
    --error-bg-color: #ff4d4d;
    --error-text-color: #fff;
  }
  
  body {
    /* background-color: var(--primary-color); */
    color: var(--input-text-color);
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .tab-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tab-button {
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px 5px 0 0;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .tab-button.active {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  
  .tab-button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  
  .form-card {
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.5);
    padding: 30px;
    width: 400px;
  }
  
  form h2 {
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 20px;
  }
  
  input {
    background-color: var(--input-bg-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    color: var(--input-text-color);
    display: block;
    font-size: 16px;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
  }
  
  button {
    background-color: var(--button-bg-color);
    border: none;
    border-radius: 5px;
    color: var(--button-text-color);
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s;
    width: 100%;
  }
  
  button:hover {
    transform: scale(1.05);
  }
  
  .error-message {
    background-color: var(--error-bg-color);
    border-radius: 5px;
    color: var(--error-text-color);
    margin-top: 10px;
    padding: 10px;
    text-align: center;
  }
  
  .gender-selection {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .gender-selection label {
    color: var(--input-text-color);
  }
  