.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    opacity: 0;
    transition: opacity 0.3s;
}
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
}

.dropdown-item {
    padding: 0.75rem 1rem;
    color: var(--accent-color);
    background-color: var(--primary-color);
    transition: background-color 0.3s, color 0.3s;
    text-transform: capitalize;
}

.dropdown-toggle.custom-dropdown {
    color: var(--accent-color);
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.show > .dropdown-toggle.custom-dropdown {
    background-color: var(--secondary-color);
    color: var(--accent-color);
}

.navbar-nav .nav-link.active{
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.dropdown-item.active{
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.dropdown-item.active:hover, .dropdown-item:hover {
    background-color: var(--secondary-color) !important; 
    color: var(--accent-color)!important;
}