.dropdown-menu-columns {
    columns: 4;
    column-gap: 1rem;
}
.dropdown-menu-columns .dropdown-item {
    width: 100%;
}
.dropdown-menu-large {
    min-width: 100%;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

.sell-now-btn {
    background-color: #b5853f;
    color: white;
    font-weight: bold;
    margin-left: 15px;
}