.navbar-nav .nav-link {
    font-size: 14px;
    margin-right: 15px;
}
.navbar-nav .nav-link:last-child {
    margin-right: 0;
}
.navbar-brand {
    font-size: 28px;
    font-family: 'Times New Roman', serif;
    padding-left: 5%;
}
.navbar {
    padding: 0.5rem 1rem;
}
.sell-now-btn {
    background-color: #b5853f;
    color: white;
    font-weight: bold;
    margin-left: 15px;
}
.dropdown-toggle.custom-dropdown {
    background-color: #B5853F;
    border-color: #B5853F;
    color: white;
}

.dropdown-toggle.custom-dropdown:hover,
.dropdown-toggle.custom-dropdown:focus,
.dropdown-toggle.custom-dropdown:active,
.show > .dropdown-toggle.custom-dropdown {
    background-color: #B5853F;
    border-color: #B5853F;
    color: white;
}

.dropdown-menu .dropdown-item {
    color: black;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    background-color: #B5853F;
    color: white;
}
