:root {
    --primary-color: #2c3e50;
    --secondary-color: #c39e81;
    --accent-color: #f5f5f5;
    --text-color: #333;
    --heading-font: 'Playfair Display', serif;
    --body-font: 'Montserrat', sans-serif;
}

.navbar {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: var(--accent-color);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid var(--secondary-color);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.navbar-brand {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.navbar-brand img {
    width: 230px;
}

.navbar-container .navbar {
    height: 60px; 
}
#navbarNav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 1rem;
}

.nav-item {
    position: relative;
    display: flex;
    align-items: center;
}

.nav-link {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
    /* background-color: rgba(249, 124, 0, 0.1)!important;  */
    background-color: var(--primary-color)!important; 
    color: var(--secondary-color)!important; 
    transform: scale(1.05); 
}

.navbar .btn, .btn-common {
    background-color: transparent;
    color: var(--primary-color);
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    min-width: 150px;
    max-width: 300px;
    text-align: center;
    white-space: nowrap;
} 

.navbar .btn:hover, .btn-common:hover {
    /* background-color: #a88360; */
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.navbar-buttons {
    display: flex;
    gap: 1rem;
    margin-left: auto;
}

.user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
    border: 2px solid var(--secondary-color);
    transition: border-color 0.3s;
}

.user-photo:hover {
    border-color: #a88360; 
}

/* Mobile Navbar */
.mobile-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
}

.mobile-navbar-brand {
    flex: 1;
}

.mobile-navbar-toggler {
    background: none;
    border: none;
    font-size: 24px;
    color: var(--accent-color);
}

.mobile-navbar-toggler {
    margin-left: auto;
}

.mobile-navbar-brand img {
    filter: brightness(0) invert(0.8);
    width: 150px;
}

/* Tablet Navbar */
.tablet-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: var(--primary-color);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid var(--secondary-color);
    height: 100px;
}

.tablet-navbar-brand {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.tablet-navbar-brand img {
    filter: brightness(0) invert(0.8);
    width: 230px;
    transition: filter 0.3s;
}

.tablet-navbar-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 1rem;
    justify-content: space-between; /* Ensures spacing between content */
}

.tablet-navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.tablet-nav-item {
    display: flex;
    align-items: center;
}

.tablet-nav-link {
    text-decoration: none;
    color: var(--accent-color);
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    padding: 0.5rem 0rem;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
    text-transform: uppercase;
    border-radius: 5px;
}

.tablet-nav-link:hover {
    color: var(--secondary-color);
    background-color: rgba(195, 158, 129, 0.1);
    transform: scale(1.05);
}

.tablet-search-bar {
    width: 60%;
    margin: 0 auto;
}

.tablet-navbar-buttons {
    display: flex;
    gap: 1rem;
}

.btn-common {
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.btn-common:hover {
    background-color: #a88360;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.tablet-user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    transition: border-color 0.3s;
}

.tablet-user-photo:hover {
    border-color: #a88360;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar-container .navbar {
        display: none;
    }

    .mobile-navbar-nav {
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .mobile-nav-item {
        list-style: none;
        width: 100%;
    }

    .mobile-nav-link {
        display: block;
        width: 100%;
        padding: 0.75rem;
        color: var(--accent-color);
        text-decoration: none;
        background-color: var(--primary-color);
    }

    .mobile-nav-link:hover {
        background-color: var(--secondary-color);
        color: #fff;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .tablet-navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        background-color: var(--accent-color);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid var(--secondary-color);
        height: 100px;
    }
    #dropdown-basic{
        background-color: transparent;
        color: var(--primary-color);
    }
    #dropdown-basic:hover{
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }

    .tablet-navbar-brand {
        display: flex;
        align-items: center;
        flex-shrink: 0;
    }
    .tablet-navbar-brand img{
        width: 230px;
        filter: none;
    }

    .tablet-navbar-content {
        display: flex;
        align-items: center;
        flex-grow: 1;
        gap: 1rem;
        justify-content: space-between;
    }

    .tablet-navbar-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .tablet-nav-item {
        display: flex;
        align-items: center;
    }

    .tablet-nav-link {
        text-decoration: none;
        color: var(--primary-color);
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        padding: 0.5rem 0rem;
        transition: color 0.3s, background-color 0.3s, transform 0.3s;
        text-transform: uppercase;
        border-radius: 5px;
    }

    .tablet-nav-link:hover {
        color: var(--secondary-color);
        background-color: var(--primary-color);
        transform: scale(1.05);
    }

    .tablet-search-bar {
        width: 60%;
        margin: 0 auto;
    }

    .tablet-navbar-buttons {
        display: flex;
        gap: 1rem;
    }

    .tablet-user-photo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid var(--secondary-color);
        transition: border-color 0.3s;
    }

    .tablet-user-photo:hover {
        border-color: #a88360;
    }
}
