.ItemDetailscontainer {
  margin: 0 auto;
  margin-top: 3%;
  padding: 20px;
  max-width: 1200px;
  background-color: var(--accent-color);
  color: var(--primary-color);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.breadcrumbs {
  font-size: 14px;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.breadcrumbs a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
}

.product-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-images {
  flex: 1;
  position: relative;
}

.main-image-container {
  position: relative;
  width: 100%;
  background-color: var(--accent-color);
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.main-image {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  height: auto;
  max-height: 400px;
}

.image-nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: var(--accent-color);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.image-nav-button:hover {
  background: rgba(0, 0, 0, 0.7);
  transform: translateY(-50%) scale(1.1);
}

.thumbnail-images {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.thumbnail-images img {
  width: 20%;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid var(--primary-color);
}

.product-details {
  flex: 1;
  background-color: var(--accent-color);
  padding: 20px;
  border-radius: 15px;
  color: var(--primary-color);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.product-details h1 {
  font-size: 28px;
  color: var(--primary-color);
  margin-bottom: 10px;
  font-weight: 700;
}

.product-details .price {
  font-size: 22px;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.color-options {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.color-button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  transition: background-color 0.3s ease;
}

.color-button.selected {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.description {
  font-size: 16px;
  margin-top: 20px;
  color: var(--primary-color);
}

.order-details {
  flex: 1;
  background-color: var(--accent-color);
  padding: 20px;
  border-radius: 15px;
  color: var(--accent-color);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.order-details h2 {
  font-size: 24px;
  color: var(--primary-color);
  margin-bottom: 20px;
  font-weight: 700;
}

.order-details label {
  color: var(--primary-color);
}

.quantity-control {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.quantity-button {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.quantity-button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.quantity {
  margin: 0 20px;
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color);
}

.subtotal {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  font-size: 18px;
  color: var(--primary-color);
}

.ItemDetailscontainer textarea,
.ItemDetailscontainer input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: solid;
  margin-bottom: 20px;
  background-color: var(--accent-color);
  color: var(--text-color);
}

.apply-coupon,
.add-to-cart,
.buy-now {
  width: 100%;
  padding: 15px;
  background-color: var(--secondary-color);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: var(--accent-color);
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.apply-coupon:hover,
.add-to-cart:hover,
.buy-now:hover {
  background-color: #a88360;
}

@media (min-width: 768px) {
  .product-page {
    flex-direction: row;
  }

  .main-image-container {
    height: 500px;
  }

  .main-image {
    height: 100%;
  }

  .product-details h1 {
    font-size: 32px;
  }

  .product-details .price {
    font-size: 24px;
  }

  .order-details h2 {
    font-size: 28px;
  }

  .quantity {
    font-size: 22px;
  }

  .subtotal {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .ItemDetailscontainer {
    padding: 10px;
    max-width: 100%;
  }

  .product-details h1 {
    font-size: 24px;
  }

  .product-details .price {
    font-size: 20px;
  }

  .order-details h2 {
    font-size: 22px;
  }

  .quantity {
    font-size: 18px;
  }

  .subtotal {
    font-size: 18px;
  }

  .apply-coupon,
  .add-to-cart,
  .buy-now {
    font-size: 14px;
  }
}
